/* globals.css */

/* Tailwind base import */
@import "tailwindcss";

/* Slick Carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Add any of your custom global styles below */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';
@import "flag-icons/css/flag-icons.min.css";
